.instruction {
  color: black;
  text-align: center;
  margin: auto;
  font-family: Shippori Antique;
  width: 90%;
}

#instr-header {
  font-size: 30px ;
  padding: 5px;
  margin-bottom: 0;
}

.instruction div{
  float: left;
  width: 25%;
  min-width: 200px;
  height: 200px;
  text-align: center;
  text-align:left;
  margin: 1.66%;
  padding: 20px;
  background-color: #808080;
}





/* .instr-column{
  display: grid;
  border: solid;
  float: left;
  width: 28%;
  padding: 10px;
  margin: 10px; 
}*/

