* {
    margin: 0;
    padding: 0;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0)), url(image/background2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 320px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 19px;
    font-family: poppins;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.welcome{
    width: 90%;
    color: white;
    margin: auto;
    top: 23%;
    left: 50%;
    text-align: center;
}

.welcome h1{
    font-size: 50px;
}

.welcome p{
    margin: 10px 0 25px;
    font-size: 14px;
    font-family: poppins;
}

/* style for instructions */

.instr{
    color: white;
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: poppins;
}

.instr-row {
    display: flex;
    justify-content: space-between;
}

.instr-row h3 {
    font-size: 25px;
}

.instr-row p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.instr-col {
    flex-basis: 30%;
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 12px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.instr-col:hover {
    box-shadow: 0 0 20px 0px;
}


