* {
    margin: 0;
    padding: 0;
}
/* ------style for smooth scroll behavior------ */
html {
    scroll-behavior:smooth;
}
/* ------style for screen1------ */
#screen1 {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0)), url(image/bg7.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
/* -------style for nav------ */
nav {
    display: flex;
    padding: 2% 6% 0;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 320px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: poppins;
    font-weight: 500;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/* ------style for welcome text------ */
.welcome{
    width: 90%;
    color: white;
    margin: auto;
    top: 23%;
    left: 50%;
    text-align: center;
}

.welcome h1{
    font-size: 50px;
}

.welcome p{
    margin: 10px 0 50px;
    font-size: 21px;
    font-family: poppins;
}

/* -----style for instructions------ */
.instr{
    color: white;
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: poppins;
}

.instr-row {
    display: flex;
    justify-content: space-between;
}

.instr-row h3 {
    font-size: 25px;
}

.instr-row p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding: 10px;
}

.instr-col {
    flex-basis: 30%;
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 12px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.instr-col:hover {
    box-shadow: 0 0 20px 0px;
}

/* ----------style for file upload---------- */
.upload {
    text-align: center;
}

.upload-title {
    padding: 0 2em 0 2em;
    color: white;
    font-family: poppins;
    font-size: 19px;
}

.upload-box {
    margin : 20px;
    font-size: 20px;
    background: white;
    border-radius: 50px;
    box-shadow: 5px 5px 10px black;

}

::-webkit-file-upload-button {
    color: white;
    padding: 12px;
    background: #202020;
    border: none;
    outline: none;
}

::-webkit-file-upload-button:hover {
    background: grey;
} 

/* ---------- style for file download ---------- */

.download{
    font-family: poppins;
    margin: 2em;
    text-align: center;
    color: white;
}

.download-title{
    margin:1em 2em 1em;
    font-size: 20px;
    font-weight:500;
}



/* ------style for screen2------ */
#screen2{
    min-height: 100vh;
    width: 100%;
    background-image: url(image/bg3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.screen2-title{
    font-size: 25px;
    color: white;
    margin: auto;
    padding: 2em;
    text-align: center;
    width: 90%;
}

/* ------ style for members profile ------ */
.members{
    color: white;
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: poppins;
}

.members-row {
    display: flex;
    justify-content: space-between;
}

.members-row p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding: 10px;
}

.members-col {
    flex-basis: 20%;
    background-color: rgba(0,0,0,0.4);
    box-sizing: border-box;
    transition: 0.5s;
}

.members-col:hover {
    box-shadow: 0 0 20px 0px;
}

.members-col h1{
    padding: 15px;
    margin: auto;
}

.members-col h3{
    padding: 20px 0 15px;
}

.members-col p{
    font-size: 20px;
}

.members-col a{
    text-decoration: none;
    font-size: 25px;
    color: white;
}

.icon a{
    padding: 10px;
}





