* {
    margin: 0;
    padding: 0;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0)), url(image/background2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 320px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 19px;
    font-family: poppins;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.welcome{
    width: 90%;
    color: white;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.welcome h1{
    font-size: 50px;
}

.welcome p{
    margin: 10px 0 40px;
    font-size: 14px;
    font-family: poppins;
}












/* #header {
    color: Red;
    font-family: Caveat Brush;
    font-size: 50px;
    text-decoration: none;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Shippori Antique;
    
}

.navbar a{
    float :left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .drop-btn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .drop-btn{
    background-color: #808080;
}

.drop-members{
    display:none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-members a{
    float: none;
    color:black;
    padding: 12px 24px;
    display: block;
    text-align: left;

}

.drop-members a:hover{
    background-color: #ddd;
}

.dropdown:hover .drop-members {
    display: block;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }


.instruction {
    color: black;
    text-align: center;
    margin: auto;
    font-family: Shippori Antique;
    width: 90%;
}
  
#instr-header {
    font-size: 30px ;
    padding: 5px;
    margin-bottom: 0;
}
  
.instruction div{
    float: left;
    width: 25%;
    min-width: 200px;
    height: 200px;
    text-align: center;
    text-align:left;
    margin: 1.66%;
    padding: 20px;
    background-color: #808080;
} */

